.headerBgImg {
  background: url(/assets/img/crystal-ball-table.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 70vw;
  /*border: 5px solid blue;*/
}

.drag-on {
  background-color: rgba(130, 128, 128, 0.15)
}

.dropzone {
  position: fixed;
  top: 27%;
  left: 36%;
  width: 28%;
  height: 390px;
  /*border: 2px solid rgba(244, 4, 4, 0.29);*/
  border-radius: 50%;
}

.dropImg {
  opacity: .2;
}

.heading-container {
  max-height: 700px;
  width: 100%;
}

.title {
  position: relative;
  top: -200px;
  margin-left: 140px;
  margin-top: 70px;
}

.sub-title {
  position: absolute;
  margin-top: 10px;
  font-family: 'Creepster';
  color: rgb(191, 174, 218)
}

.response-container {
  background-color: rgba(27, 18, 45, 1);
  min-height: 30vw;
}

.message-text {
  font-size: 2em;
  font-family: "Trade Winds";
  margin: 40px auto 10px auto;
  color: rgb(191, 174, 218);
}

.message-pretext {
  padding-left: 30px;
  padding-top: 90px;
  font-family: "Finger Paint";
  color: rgb(91, 192, 222);
}

.message-title {
  padding: 10px 0 10px 20px;
  font-family: "Finger Paint";
  color: rgb(91, 192, 222);
}

.container {
  /*border: 2px solid green;*/
}
