.headerBgImg {
  background: url(/assets/img/crystal-ball-table.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 70vw;
  /*border: 5px solid blue;*/
}

.drag-on {
  background-color: rgba(130, 128, 128, 0.15)
}

.dropzone {
  position: fixed;
  top: 27%;
  left: 36%;
  width: 28%;
  height: 390px;
  /*border: 2px solid rgba(244, 4, 4, 0.29);*/
  border-radius: 50%;
}

.heading-container {
  width: 100%;
}

.title {
  position: relative;
  top: -383px;
  margin-left: 94px;
  min-width: 1800px;
  max-width: 100%;
  margin-top: 60px;
  /*color: white;*/
  /*font-family: 'Creepster'*/
}

.sub-title {
  color: rgb(191, 174, 218)
}

.response-container {
  background-color: #1B122D;
  min-height: 30vw;
}

.message-text {
  font-size: 2em;
  font-family: "Merienda";
  margin: 40px auto 10px auto;
  color: rgb(191, 174, 218);
}

.message-title {
  font-family: "Lily Script One";
  color: rgb(191, 174, 218);
}

.container {
  /*border: 2px solid green;*/
}
