.headerBgImg {
  background: url(/assets/img/crystal-ball-table.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 70vw;
  /*border: 5px solid blue;*/
}

.drag-on {
  background-color: rgba(130, 128, 128, 0.15)
}

.dropzone {
  position: fixed;
  top: 27%;
  left: 36%;
  width: 28%;
  height: 390px;
  /*border: 2px solid rgba(244, 4, 4, 0.29);*/
  border-radius: 50%;
}

.title {
  color: white;
  font-family: 'Creepster'
}

.sub-title {
  color: rgb(191, 174, 218)
}

.response-container {
  background-color: #1B122D;
  height: 30vw;
}

.message-text, .message-title {
  color: rgb(191, 174, 218);
}

.container {
  /*border: 2px solid green;*/
}
